{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{{ 'component-rating.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'section-category-product.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{% unless card_product.has_only_default_variant %}
  {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
  {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
  {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
{% endunless %}

{%- if settings.quick_view_button == true -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- unless settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if settings.show_variants == true -%}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding .cat_product_right .banner__box {
    background-color: rgba(var(--color-background),{{ section.settings.content_bg_opacity | divided_by: 100.0 }});
  }
  .section-{{ section.id }}-padding .productleft_inner {
    padding: {{ section.settings.space_heading }}px;
    border-radius: var(--content-radius);
  }
  {% if settings.swatch_position == true %}
    {% if settings.show_cardvendor %}
      .section-{{ section.id }}-padding .product-card-wrapper color-swatch {
        grid-row-start: 3;
      }
    {% else %}
      .section-{{ section.id }}-padding .product-card-wrapper color-swatch {
        grid-row-start: 2;
      }
    {% endif %}
  {% endif %}
  .section-{{ section.id }}-padding .section-head strong, .section-{{ section.id }}-padding .section-head b {
    color: {{ section.settings.headcolor }};
  }
  .section-{{ section.id }}-padding .card_number span {
    background: {{ section.settings.show_number_bg }};
    color: {{ section.settings.show_number_text }};
    border: 2px solid {{ section.settings.show_number_border }};
    border-radius: {{ section.settings.number_radius }}px;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.45 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.45 | round: 0 }}px;
  }
  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media (max-width: 991px) {
    .section-{{ section.id }}-padding .productleft_inner {
      padding: {{ section.settings.space_heading | times: 0.45 | round: 0 }}px;
    }
  }
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="collection {% if settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ section.id }}-padding {% if section.settings.layout == 'full_width' %}section-full {% else %}page-width{% endif %}" id="collection-{{ section.id }}" data-id="{{ section.id }}">

    <div class="grid">
      <div class="grid__item cat_product_left {{ section.settings.heading_position }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="productleft_inner color-{{ section.settings.section_color_scheme }} gradient">
          {%- if section.settings.title != blank -%}
            <h2 class="section-head inline-richtext {{ section.settings.heading_size }} {% if section.settings.upper_text %}uppercase{% endif %}">
              {{ section.settings.title }}
            </h2>
          {%- endif -%}

          {%- if section.settings.description != blank -%}
            <div class="pcoll_desc {{ section.settings.description_style }} rte">
              {%- if section.settings.description -%}
                {{ section.settings.description -}}
              {%- endif %}
            </div>
          {%- endif -%}

          {%- if section.settings.view_label != blank -%}
            <div class="pcoll_btn{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              <a href="{{ section.settings.collection.url }}"
                class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
                aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}">
                <span>{{ section.settings.view_label }}</span>
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="grid__item cat_product_right">
        <div class="grid grid--{{ section.settings.columns_mobile }}-col-mobile grid--{{ section.settings.columns_desktop }}-col-desktop product-grid{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
            <div class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: settings.image_ratio,
                show_secondary_image: settings.show_secondary_image,
                show_cardtype: settings.show_cardtype,
                show_vendor: settings.show_cardvendor,
                show_number: section.settings.show_number,
                show_color_swatch: settings.show_color_swatch,
                quick_view_button: settings.quick_view_button,
                show_variants: settings.show_variants,
                picker_type: settings.picker_type,
                show_colorswatch: settings.show_colorswatch,
                only_addcart: false,
                card_style: settings.card_style,
                forloop_number: forloop.index,
                section_id: section.id,
                disable_fquickview: false,
                disable_faddcart: false, 
                disable_fvariant: false,
                show_quantity: settings.show_quantity,
                quick_add: settings.quick_add
              %}
            </div>
          {%- else -%}
            {%- for i in (1..4) -%}
              <div
                class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {%- assign placeholder_image = 'product-apparel-' | append: forloop.rindex -%}
                {% render 'card-product',
                  card_style: settings.card_style,
                  show_vendor: settings.show_cardvendor,
                  placeholder_image: placeholder_image
                %}
              </div>
            {%- endfor -%}
          {%- endfor -%}

          <div class="catp_banner banner">
            {%- if section.settings.image != blank -%}
              <div class="banner__media media">
                {%- liquid
                  assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
                  assign sizes = full_width
                -%}
                {{
                   section.settings.image
                   | image_url: width: 3840
                   | image_tag:
                   loading: 'lazy',
                   width: section.settings.image.width,
                   height: image_height,
                   sizes: sizes,
                   widths: widths }}
              </div>
            {%- endif -%}
            {% if section.settings.heading != blank or section.settings.b_description != blank or section.settings.button_label != blank %}
              <div class="banner__content banner_content-middle banner_align-{{ section.settings.content_alignment }}">
                <div class="banner__box color-{{ section.settings.banner_color_scheme }} gradient {% if section.settings.content_bg == false %}bg-transparent{% endif %}">
                  {% if section.settings.heading != blank %}
                    <h3 class="p_heading inline-richtext {{ section.settings.banner_heading_size }}">
                      {{ section.settings.heading }}
                    </h3>
                  {% endif %}
                  {%- if section.settings.b_description != blank -%}
                    <div class="rte description p_desc {{ section.settings.bdesc_size }}">
                      {{ section.settings.b_description }}
                    </div>
                  {%- endif -%}
                  {%- if section.settings.button_label != blank -%}
                    <a {% if section.settings.button_link == blank %}role="link" aria-disabled="true" {% else %}href="{{ section.settings.button_link }}" {% endif %} class="product_btn {% if section.settings.button_style == 'link' %}link underlined-link{% elsif section.settings.button_style == 'solid' %}button button--primary{% else %}button button--secondary{% endif %}">
                      <span>{{- section.settings.button_label | escape -}}</span>
                    </a>
                  {%- endif -%}
                </div>
              </div>
            {% endif %}
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.category-product.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_width",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "grid",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "header",
      "content": "t:settings_schema.heading.head"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-2"
    },
    {
      "type": "range",
      "id": "space_heading",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "t:sections.custom_text.settings.space_heading.label",
      "default": 20
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Category product",
      "label": "t:settings_schema.heading.settings.head_text.label_1"
    },
    {
      "type": "checkbox",
      "id": "upper_text", 
      "label": "t:sections.custom_text.settings.upper_text.label",
      "default": true
    },
    {
      "type": "color",
      "id": "headcolor",
      "label": "t:settings_schema.heading.settings.head_text.txt_color",
      "default": "#DF6334",
      "info": "t:settings_schema.heading.settings.head_text.txt_info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:settings_schema.heading.settings.head_text.label_2"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:settings_schema.heading.settings.head_text.label_3"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "large"
    },

    {
      "type": "header",
      "content": "t:settings_schema.button.view_name"
    },
    {
      "type": "text",
      "id": "view_label",
      "default": "View all",
      "label": "t:settings_schema.button.settings.vbutton_text.label_1"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:settings_schema.button.settings.vbutton_text.label_2",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },

    
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    }, 
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },


    {
      "type": "header",
      "content": "t:sections.custom_text.settings.product_number.content"
    },
    {
      "type": "checkbox",
      "id": "show_number",
      "label": "t:sections.custom_text.settings.show_number.label",
      "default": true
    },
    {
      "type": "color",
      "id": "show_number_bg",
      "label": "t:sections.custom_text.settings.page_bg.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "show_number_text",
      "label": "t:sections.custom_text.settings.page_text.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "show_number_border",
      "label": "t:sections.custom_text.settings.img_border_color.label",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "number_radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "t:sections.custom_text.settings.corner_radius.label",
      "default": 40
    },


    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.banner_header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.slideshow.blocks.slide.settings.image.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.image-banner.blocks.heading.settings.heading.label",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "banner_heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "b_description",
      "label": "t:sections.custom_text.settings.description.label",
      "default": "<p>Tell your brand's story through images<p>"
    },
    {
      "type": "select",
      "id": "bdesc_size",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "large"
    },

    {
      "type": "header",
      "content": "t:settings_schema.button.name"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:settings_schema.button.settings.button_text.label_1",
      "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:settings_schema.button.settings.button_text.label_2"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:settings_schema.button.settings.button_text.label_3",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.featured-collection.settings.content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "content_bg",
      "default": false,
      "label": "t:sections.featured-collection.settings.content_bg.label"
    },
    {
      "type": "range",
      "id": "content_bg_opacity",
      "min": 15,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.featured-collection.settings.content_bg_opacity.label",
      "default": 50
    },
    {
      "type": "color_scheme",
      "id": "banner_color_scheme",
      "label": "t:sections.custom_text.settings.banner_color_scheme.label",
      "default": "background-2"
    },

    
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.category-product.name"
    }
  ]
}
{% endschema %}
