<section
  id="MainProduct-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
>
  {{ 'customer-review.css' | asset_url | stylesheet_tag }}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
  {% unless product.has_only_default_variant %}
    {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
  {% endunless %}
  {%- if product.quantity_price_breaks_configured? -%}
    {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- style -%}
    @media (min-width: 768px) {
      .section-{{ section.id }}-padding .product .product__media-wrapper {
        width: {{ section.settings.media_size }}%;
        max-width: {{ section.settings.media_size }}%;
      }
      .section-{{ section.id }}-padding .product .product__info-wrapper {
        width: calc(100% - {{ section.settings.media_size }}%);
        max-width: calc(100% - {{ section.settings.media_size }}%);
      }
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    @media screen and (min-width: 992px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    .custom-width {
      max-width: unset;
    }
  {%- endstyle -%}

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% if section.settings.image_zoom == 'lightbox' %}
    {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
    {{ 'default-skin.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'photoswipe.js' | asset_url }}" async></script>
    <script src="{{ 'photoswipe-ui-default.js' | asset_url }}" async></script>
  {% endif %}
  {% if section.settings.image_zoom == 'hover' %}
    <script id="EnableZoomOnHover-main" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
  {% endif %}
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  {%- endif -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
  <div class="custom-width page-width">
    <div class="product product--{{ section.settings.media_size }} product--{{ section.settings.media_position }} product--{{ section.settings.gallery_layout }} {% if section.settings.gallery_layout != 'columns' %}product--thumbnail_slider{% endif %}  product--mobile-{{ section.settings.mobile_thumbnails }} grid grid--1-col grid--2-col-tablet">
      <!-- {% render 'product-badge', product: product %} -->
    <div class="grid__item product__media-wrapper {% if section.settings.image_zoom == 'lightbox' %} lightbox_image{% endif %}">
        {% render 'product-media-gallery',
          variant_images: variant_images,
          media_aspect_ratio: section.settings.thumbimage_ratio,   product: product
        %}
      </div>
      <div class="product__info-wrapper grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <product-info
          id="ProductInfo-{{ section.id }}"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
          class="product__info-container{% if section.settings.enable_sticky_info %} product__column-sticky{% endif %}"
        >
          {%- liquid
            assign product_form_id = 'product-form-' | append: section.id
          -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}

              {%- when 'text' -%}
                {% if block.settings.text.size > 0 %}
                  <div
                    class="{% if block.settings.show_sharebtn == true %}pshare_both{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    <p
                      class="product__text inline-richtext {{ block.settings.text_size }} {% if block.settings.text_upper == true %}uppercase{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      {{- block.settings.text -}}
                    </p>
                                  
                {% if product.selected_or_first_available_variant.sku.size > 0 %}
                  <p
                    class="product__sku {{ block.settings.sku_size }} {% if block.settings.sku_upper == true %}uppercase{% endif %}{% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}"
                    id="Sku-{{ section.id }}"
                    role="status"
                    {{ block.shopify_attributes }}
                  >
                    <span class="">{{ 'products.product.sku' | t }}: </span>
                    {{- product.selected_or_first_available_variant.sku -}}
                  </p>
                {% endif %}
                    {%- if block.settings.show_sharebtn == true -%}
                      {% liquid
                        assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin
                        render 'share-button', block: block, share_link: share_url, share_label: block.settings.share_label
                      %}
                    {%- endif -%}
                  </div>
                {% endif %}

              {%- when 'title' -%}
                <div
                  class="product__title {% if block.settings.title_upper == true %}uppercase{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  <h1 class="{{ block.settings.title_size }}">{{ product.title | escape }}</h1>
                  <a href="{{ product.url }}" class="product__title">
                    <h2 class="{{ block.settings.title_size }}">
                      {{ product.title | escape }}
                    </h2>
                  </a>
                </div>

              {%- when 'price' -%}
                <div class="main__price" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                  {%- render 'main-product-price',
                    product: product,
                    use_variant: true,
                    show_badges: true,
                    price_class: 'price--large',
                    is_hidden: 'fasle',
                    is_product_page: 'true'
                  -%}
                </div>

                {%- if product.quantity_price_breaks_configured? -%}
                  <div class="volume-pricing-note" id="Volume-Note-{{ section.id }}">
                    <span>{{ 'products.product.volume_pricing.note' | t }}</span>
                  </div>
                {%- endif -%}
                {%- if cart.taxes_included or cart.duties_included or shop.shipping_policy.body != blank -%}
                  <div class="product__tax caption rte">
                    {%- if cart.duties_included and cart.taxes_included -%}
                      {{ 'products.product.duties_and_taxes_included' | t }}
                    {%- elsif cart.taxes_included -%}
                      {{ 'products.product.taxes_included' | t }}
                    {%- elsif cart.duties_included -%}
                      {{ 'products.product.duties_included' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
                <div {{ block.shopify_attributes }}>
                  {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                  {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    {{ form | payment_terms }}
                  {%- endform -%}
                </div>

              {%- when 'inventory' -%}
                <p
                  class="product__inventory{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
                  {{ block.shopify_attributes }}
                  id="Inventory-{{ section.id }}"
                  role="status"
                >
                  {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
                    {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
                      {%- if product.selected_or_first_available_variant.inventory_quantity
                          <= block.settings.inventory_threshold
                      -%}
                      🔥
                        {% comment %} <svg width="15" height="15" aria-hidden="true">
                          <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(238,148,65, 0.3)"/>
                          <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(238,148,65)"/>
                        </svg> {% endcomment %}
                        {%- if block.settings.show_inventory_quantity -%}
                          {{-
                            'products.product.inventory_low_stock_show_count'
                            | t: quantity: product.selected_or_first_available_variant.inventory_quantity
                          -}}
                        {%- else -%}
                          {{- 'products.product.inventory_low_stock' | t -}}
                        {%- endif -%}
                      {%- else -%}
                        <svg width="15" height="15" aria-hidden="true">
                          <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)"/>
                          <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)"/>
                        </svg>
                        {%- if block.settings.show_inventory_quantity -%}
                          {{-
                            'products.product.inventory_in_stock_show_count'
                            | t: quantity: product.selected_or_first_available_variant.inventory_quantity
                          -}}
                        {%- else -%}
                          {{- 'products.product.inventory_in_stock' | t -}}
                        {%- endif -%}
                      {%- endif -%}
                    {%- else -%}
                      {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
                        <svg width="15" height="15" aria-hidden="true">
                          <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)"/>
                          <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)"/>
                        </svg>
                        {{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}
                      {%- else -%}
                        <svg width="15" height="15" aria-hidden="true">
                          <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(200,200,200, 0.3)"/>
                          <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(200,200,200)"/>
                        </svg>
                        {{- 'products.product.inventory_out_of_stock' | t -}}
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                </p>

              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  {%- if block.settings.use_accordion -%}
                    <collapse-content class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }}>
                      <div id="Detailss-{{ block.id }}-{{ section.id }}">
                        <summary
                          data-toggle="collapse"
                          aria-expanded="{% if block.settings.opencollapse %}true{% else %}false{% endif %}"
                          class="toggle collapsed {% if block.settings.opencollapse %}active{% endif %}"
                        >
                          <div class="summary__title">
                            <h2 class="h4 accordion__title inline-richtext">
                              {{- block.settings.heading  }}
                            </h2>
                          </div>
                        <div class="accordion__icons">
                          {%- render 'icon-plus' -%}
                          {%- render 'icon-minus' -%}
                        </div>
                        </summary>
                        <div class="collapse content_collase">
                          <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                            {{- product.description -}}
                          </div>
                        </div>
                      </div>
                    </collapse-content>
                  {%- else -%}
                    <div
                      class="product__description rte quick-add-hidden {% if block.settings.divider_desc == true %}swatch_divide{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      {{ product.description }}
                    </div>
                  {%- endif -%}
                {%- endif -%}



              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}

              {%- when 'collapsible_tab' -%}
                <collapse-content class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }}>
                  <div id="Detailss-{{ block.id }}-{{ section.id }}">
                    <summary
                      data-toggle="collapse"
                      aria-expanded="{% if block.settings.opencollapse %}true{% else %}false{% endif %}"
                      class="toggle collapsed {% if block.settings.opencollapse == true %}active{% endif %}"
                    >
                      <div class="summary__title">
                        {% render 'icon-accordion', icon: block.settings.icon %}
                        <h2 class="h4 accordion__title inline-richtext">
                          {{ block.settings.heading | default: block.settings.page.title }}
                        </h2>
                      </div>
                      <div class="accordion__icons">
                        {% render 'icon-plus' %}
                        {% render 'icon-minus' %}
                      </div>
                    </summary>
                    <div class="collapse content_collase">
                      <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                        {{ block.settings.content }}
                        {{ block.settings.page.content }}
                      </div>
                    </div>
                  </div>
                </collapse-content>

              {%- when 'quantity_selector' -%}
                {%- comment -%}Quantity selector is now integrated into the buy_buttons block for the requested layout.{%- endcomment -%}


              {%- when 'size_guide_box' -%}
                <div class="size-guide-box" {{ block.shopify_attributes }}>
                  <modal-opener
                    class="product-popup-modal__opener quick-add-hidden size-chart-el"
                    data-modal="#PopupModal-{{ block.id }}"
                  >
                    {%- if block.settings.show_note -%}
                      <div class="size-chart-desc">
                        <span>
                          {{ 'products.product.size_chart_note' | t }}:
                        </span> 
                        <span>{{ block.settings.description }}</span>
                      </div>
                    {%- endif -%}
                    <button
                      id="ProductPopup-{{ block.id }}"
                      class="product-popup-modal__button link"
                      type="button"
                      aria-haspopup="dialog"
                    >
                      <span>{% render 'icon-ruler' %}</span>
                      {{ block.settings.text | default: block.settings.page.title }}
                    </button>
                  </modal-opener>
                </div>

              {%- when 'share_button' -%}
                <div class="social_share" {{ block.shopify_attributes }}>
                  {% if block.settings.share_text != blank %}
                    <h3 class="h3">{{ block.settings.share_text }}</h3>
                  {% endif %}
                  <ul>
                    {% if block.settings.share_facebook %}
                      <li>
                        <a
                          title="{{ 'general.social.links.facebook' | t }}"
                          target="_blank"
                          rel="noopener"
                          rel="noreferrer"
                          href="//www.facebook.com/sharer.php?u={{ request.origin }}"
                        >
                          {% render 'icon-facebook' -%}
                        </a>
                      </li>
                    {% endif %}
                    {% if block.settings.share_twitter %}
                      <li>
                        <a
                          title="{{ 'general.social.links.twitter' | t }}"
                          target="_blank"
                          rel="noopener"
                          rel="noreferrer"
                          href="//twitter.com/share?url={{ request.origin }}"
                        >
                          {% render 'icon-twitter' -%}
                        </a>
                      </li>
                    {% endif %}
                    {% if block.settings.share_pinterest %}
                      <li>
                        <a
                          title="{{ 'general.social.links.pinterest' | t }}"
                          target="_blank"
                          rel="noopener"
                          rel="noreferrer"
                          href="//pinterest.com/pin/create/button/?url={{ request.origin }}"
                        >
                          {% render 'icon-pinterest' -%}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>

              {%- when 'payment_method' -%}
                <div class="pay_method" {{ block.shopify_attributes }}>
                  <div>
                    {%- if block.settings.heading_2 != blank -%}
                      <h3 class="h3">{{- block.settings.heading_2 -}}</h3>
                    {%- endif -%}
                    {%- if block.settings.enable_payment -%}
                     <ul
                        class="list list-payment__copyright {% if section.settings.payment_monochrome == true %}payment_monochrome{% endif %} "
                        role="list"
                      >
                        {% assign enabled_payment_types = settings.payment_methods | remove: ' ' | split: ',' %}
                        {% for type in enabled_payment_types %}
                          <li class="list-payment__item cart_payment">
                            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                          </li>
                        {% endfor %}

                        {% assign enabled_payment_types = settings.other_payment_methods | remove: ' ' | split: ',' %}
                        {% for type in enabled_payment_types %}
                          <li class="list-payment__item__copyright cart_payment other_payment_container ">
                            <div class="other_payment__copyright {{type}}">
                              {% render 'icon-accordion', icon: type %}
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    {%- endif -%}
                  </div>
                </div>

              {%- when 'variant_picker' -%}
                {%- style -%}
                  :root {
                    --pills-radius: {{ block.settings.pills_radius }}px;
                  }
                {%- endstyle -%}
                {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}

              {%- when 'buy_buttons' -%}
                {%- render 'buy-buttons',
                  block: block,
                  product: product,
                  product_form_id: product_form_id,
                  section_id: section.id,
                  show_pickup_availability: true
                -%}

              {%- when 'rating' -%}
                {%- if product.metafields.reviews.rating.value != blank -%}
                  {% liquid
                    assign rating_decimal = 0
                    assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                    if decimal >= 0.3 and decimal <= 0.7
                      assign rating_decimal = 0.5
                    elsif decimal > 0.7
                      assign rating_decimal = 1
                    endif
                  %}
                  <div
                    class="rating"
                    role="img"
                    aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
                  >
                    <span
                      aria-hidden="true"
                      class="rating-star"
                      style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                    ></span>
                  </div>
                  <p class="rating-text caption">
                    <span aria-hidden="true">
                      {{- product.metafields.reviews.rating.value }} /
                      {{ product.metafields.reviews.rating.value.scale_max -}}
                    </span>
                  </p>
                  <p class="rating-count caption">
                    <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                    <span class="visually-hidden">
                      {{- product.metafields.reviews.rating_count }}
                      {{ 'accessibility.total_reviews' | t -}}
                    </span>
                  </p>
                {%- endif -%}

              {%- when 'complementary' -%}
                <product-recommendations
                  class="complementary-products quick-add-hidden{% if block.settings.make_collapsible_row %} is-accordion{% endif %}{% if settings.quick_add %} complementary-products-contains-quick-add{% endif %}"
                  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary"
                >
                  {%- if recommendations.performed and recommendations.products_count > 0 -%}
                    <aside
                      aria-label="{{ 'accessibility.complementary_products' | t }}"
                      {{ block.shopify_attributes -}}
                      {% if block.settings.make_collapsible_row %}
                        class="product__accordion accordion"
                      {% endif %}
                    >
                      <div class="complementary-products__container">
                        {%- if block.settings.make_collapsible_row -%}
                          <details id="Details-{{ block.id }}-{{ section.id }}" open>
                            <summary>
                        {%- endif %}
                        <div class="summary__title">
                          {%- if block.settings.make_collapsible_row -%}
                            {% render 'icon-accordion', icon: block.settings.icon %}
                            <h2 class="h4 accordion__title">{{ block.settings.block_heading }}</h2>
                          {%- else -%}
                            <h2 class="h3 accordion__title">{{ block.settings.block_heading }}</h2>
                          {%- endif -%}
                        </div>
                        {%- if block.settings.make_collapsible_row -%}
                        <div class="accordion__icons">
                          {% render 'icon-plus' %}
                          {% render 'icon-minus' %}
                        </div>
                          </summary>
                        {%- endif -%}
                        <slider-component class="slider-mobile-gutter">
                          {%- assign number_of_slides = recommendations.products_count
                            | plus: 0.0
                            | divided_by: block.settings.products_per_page
                            | ceil
                          -%}
                          <div
                            id="Slider-{{ block.id }}"
                            class="contains-card contains-card--product complementary-slider grid grid--{{ block.settings.products_per_page }}-col-desktop slider slider--everywhere"
                            role="list"
                            {% if number_of_slides > 1 %}
                              aria-label="{{ 'general.slider.name' | t }}"
                            {% endif %}
                          >
                            {%- for i in (1..number_of_slides) -%}
                              {%- for product in recommendations.products
                                limit: block.settings.products_per_page
                                offset: continue
                              -%}
                                <div
                                  id="Slide-{{ block.id }}-{{ forloop.index }}"
                                  class="complementary-slide complementary-slide--{{ settings.card_style }} grid__item slider__slide slideshow__slide"
                                  tabindex="-1"
                                  role="group"
                                  {% if number_of_slides > 1 %}
                                    aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                                    aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                                  {% endif %}
                                >
                                  {% render 'card-product',
                                    card_product: product,
                                    media_aspect_ratio: settings.image_ratio,
                                    show_secondary_image: settings.show_secondary_image,
                                    show_vendor: settings.show_cardvendor,
                                    card_style: settings.card_style,
                                    lazy_load: false,
                                    quick_add: settings.quick_add,
                                    section_id: section.id,
                                    show_color_swatch: false,
                                    quick_view_button: false,
                                    horizontal_class: false,
                                    horizontal_quick_add: false
                                  %}
                                </div>
                              {%- endfor -%}
                            {%- endfor -%}
                          </div>
                          {%- if number_of_slides > 1 -%}
                            <div class="slider-buttons">
                              <button
                                type="button"
                                class="slider-button slider-button--prev"
                                name="previous"
                                aria-label="{{ 'general.slider.previous_slide' | t }}"
                              >
                                {% render 'icon-caret' %}
                              </button>
                              <button
                                type="button"
                                class="slider-button slider-button--next"
                                name="next"
                                aria-label="{{ 'general.slider.next_slide' | t }}"
                              >
                                {% render 'icon-caret' %}
                              </button>
                            </div>
                          {%- endif -%}
                        </slider-component>
                        {%- if block.settings.make_collapsible_row -%}
                          </details>
                        {%- endif -%}
                      </div>
                    </aside>
                  {%- endif -%}
                  {{ 'component-card.css' | asset_url | stylesheet_tag }}
                  {{ 'component-complementary-products.css' | asset_url | stylesheet_tag }}
                  {%- unless settings.quick_add == 'none' -%}
                    {{ 'quick-add.css' | asset_url | stylesheet_tag }}
                  {%- endunless -%}
                  {%- if settings.quick_add == 'standard' -%}
                    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
                  {%- endif -%}

                  {%- if settings.quick_add == 'bulk' -%}
                    <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
                    <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
                    <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
                    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
                  {%- endif -%}
                </product-recommendations>

              {%- when 'icon-with-text' -%}
                {% render 'icon-with-text', block: block %}
              {% comment %} {% when 'badge' %}
                {% render 'product-badge', product: product %} {% endcomment %}
            {%- endcase -%}
          {%- endfor -%}
          <a href="{{ product.url }}" class="link product__view-details animate-arrow">
            {{ 'products.product.view_full_details' | t }}
            {% render 'icon-arrow' %}
          </a>
        </product-info>
      </div>

      {% if section.settings.image_zoom == 'lightbox' %}
        <div class="spacer"></div>
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="pswp__bg"></div>
          <div class="pswp__scroll-wrap">
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div>
              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>
            </div>
          </div>
        </div>
        <script>
          var imgsrcs = [];
          var openPhotoSwipe = function (e) {
            var pswpElement = document.querySelectorAll('.pswp')[0];
            var options = {
              index: e.currentTarget.idx,
              history: false,
              focus: false,
              tapAction: 'close',
              bgOpacity: 0.6,
            };
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, imgsrcs, options);
            gallery.init();
          };
          Array.from(document.querySelectorAll('.product_main_image .product__media')).forEach(function (
            element,
            index
          ) {
            element.addEventListener('click', openPhotoSwipe);
            element.idx = index;
            var imgElement = element.getElementsByTagName('img')[0];
            imgsrcs.push({
              src: imgElement.src,
              w: imgElement.getAttribute('data-width'),
              h: imgElement.getAttribute('data-height'),
            });
          });
        </script>
      {% endif %}
    </div>

    {% render 'product-media-modal', variant_images: variant_images %}

    {% assign popups = section.blocks | where: 'type', 'size_guide_box' %}
    {%- for block in popups -%}
      <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
        <div
          role="dialog"
          aria-label="{{ block.settings.text }}"
          aria-modal="true"
          class="product-popup-modal__content"
          tabindex="-1"
        >
          <button
            id="ModalClose-{{ block.id }}"
            type="button"
            class="product-popup-modal__toggle"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {% render 'icon-close' %}
          </button>
          {% assign product_vendor = product.metafields.custom.vendor.value %}
          {% assign product_gender = product.metafields.custom.gender.value %}
          {% assign product_category = product.metafields.custom.category.value %}
          {% assign size_charts = shop.metaobjects.size_chart.values %}
      
          <div class="product-popup-modal__content-info" data="size_charts">
            {% paginate shop.metaobjects.size_chart.values by 250 %}
            {% for s in shop.metaobjects.size_chart.values %}
              {% assign size_chart_vendor = s.vendor.value.name.value %}
              {% assign size_chart_gender = s.gender.value.gender.value %}
              {% assign size_chart_category = s.category.value.category.value %}
              {% assign size_guide = s.guides %}
              {% if size_chart_category == product_category.category
                and size_chart_vendor == product_vendor.name
                and size_chart_gender == product_gender.gender
              %}

                <img src="{{ s.size_chart_image |  image_url: width: 700 }}" alt="">
                <img src="{{ size_guide |  image_url: width: 700 }}" alt="">
              {% endif %}
            {% endfor %}
            {% endpaginate %}
          </div>
        </div>
      </modal-dialog>
    {%- endfor -%}

    {%- if product.media.size > 0 -%}
      <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if first_3d_model -%}
      <script type="application/json" id="ProductJSON-{{ product.id }}">
        {{ product.media | where: 'media_type', 'model' | json }}
      </script>
    {%- endif -%}

    {%- liquid
      if product.selected_or_first_available_variant.featured_media
        assign seo_media = product.selected_or_first_available_variant.featured_media
      else
        assign seo_media = product.featured_media
      endif
    -%}

    <script type="application/ld+json">
      {{ product | structured_data }}
    </script>
  </div>
</section>



<style>
  .target {
    display: flex;
    justify-content: space-between;
  }
</style>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },

    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "text_upper",
          "default": true,
          "label": "Uppercase text"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "Size"
        },
        {
          "type": "header",
          "content": "Share button"
        },
        {
          "type": "checkbox",
          "id": "show_sharebtn",
          "default": true,
          "label": "Show share button"
        },
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "title_upper",
          "default": false,
          "label": "Uppercase title"
        },
        {
          "type": "select",
          "id": "title_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "Size"
        }
      ]
    },
    {
      "type": "badge",
      "name": "badge",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "sku_upper",
          "default": true,
          "label": "Uppercase text"
        },
        {
          "type": "select",
          "id": "sku_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "Text size"
        }
      ]
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
          "default": true
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "divider_qty",
          "default": true,
          "label": "Show divider"
        }
      ]
    },
    {
      "type": "size_guide_box",
      "name": "Size guide",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_note",
          "default": true,
          "label": "Show note"
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Size guide",
          "label": "Label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "Select size chart"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type": "checkbox",
          "id": "hide_sold_variant",
          "default": false,
          "label": "Hide sold out variant"
        },
        {
          "type": "range",
          "id": "pills_radius",
          "min": 0,
          "max": 20,
          "step": 2,
          "unit": "px",
          "label": "Corner radius",
          "default": 20
        },
        {
          "type": "select",
          "id": "pswatch_type",
          "options": [
            {
              "value": "pswatch_color",
              "label": "Color swatch"
            },
            {
              "value": "pswatch_image",
              "label": "Variant image"
            },
            {
              "value": "pswatch_text",
              "label": "Pills"
            }
          ],
          "default": "pswatch_color",
          "label": "Swatch type",
          "info": "Variant image mode requires that all variants have an associated image."
        },
        {
          "type": "select",
          "id": "pills_style",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            }
          ],
          "default": "outline",
          "label": "Pills style"
        },
        {
          "type": "checkbox",
          "id": "divider_variant",
          "default": true,
          "label": "Show divider between variants"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        },
        {
          "type": "checkbox",
          "id": "divider_qty",
          "default": false,
          "label": "Show divider for quantity"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "divider_desc",
          "default": true,
          "label": "Show divider"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Description"
        },
        {
          "type": "checkbox",
          "id": "use_accordion",
          "default": true,
          "label": "Use accordion"
        },
        {
          "type": "checkbox",
          "id": "opencollapse",
          "default": true,
          "label": "Open by default"
        }
      ]
    },
    {
      "type": "share_button",
      "name": "Share button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_text",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "checkbox",
          "id": "share_facebook",
          "label": "Facebook",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "share_twitter",
          "label": "Twitter",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "share_pinterest",
          "label": "Pinterest",
          "default": true
        }
      ]
    },
    {
      "type": "payment_method",
      "name": "Payment method",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading_2",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.share.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "enable_payment",
          "default": true,
          "label": "Show payment method"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
            },
            {
              "value": "leather",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
            },
            {
              "value": "lock",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "checkbox",
          "id": "opencollapse",
          "label": "Open collapsible row"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "block_heading",
          "default": "Pairs well with",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "make_collapsible_row",
          "default": false,
          "label": "t:sections.main-product.blocks.complementary_products.settings.make_collapsible_row.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "payment",
              "label": "Payment"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            }
          ],
          "default": "none",
          "info": "t:sections.main-product.blocks.complementary_products.settings.icon.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "range",
          "id": "product_list_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 6,
          "label": "t:sections.main-product.blocks.complementary_products.settings.product_list_limit.label"
        },
        {
          "type": "select",
          "id": "products_per_page",
          "default": "3",
          "label": "t:sections.main-product.blocks.complementary_products.settings.products_per_page.label",
          "options": [
            {
              "value": "2",
              "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
            },
            {
              "value": "3",
              "label": "t:sections.featured-collection.settings.columns_mobile.options__3.label"
            }
          ]
        }
      ]
    },
   {
      "type": "icon-with-text",
      "name": "t:sections.main-product.blocks.icon_with_text.name",
      "settings": [
        {
          "type": "header",
          "content": "First"
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "likeauthentic",
              "label": "Authentic"
            },
            {
              "value": "giftcard",
              "label": "Gift card"
            },
            {
              "value": "cardpayment",
              "label": "Card Payment"
            },
            {
              "value": "cardloyalty",
              "label": "Card Loyalty"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "freeshipping",
              "label": "Free Shipping"
            }
          ],
          "default": "freeshipping",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_1",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "checkbox",
          "id": "show_payment_icons_1",
          "default": false,
          "label": "Show payment icons"
        },
        {
          "type": "text",
          "id": "payment_icons_list",
          "default": "visa,master,paypal,discover",
          "label": "Payment icons (comma separated)",
          "info": "Example: visa,master,paypal,discover"
        },

        {
          "type": "header",
          "content": "Second"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {
              "value": "likeauthentic",
              "label": "Authentic"
            },
            {
              "value": "giftcard",
              "label": "Gift card"
            },
            {
              "value": "cardpayment",
              "label": "Card Payment"
            },
            {
              "value": "cardloyalty",
              "label": "Card Loyalty"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "freeshipping",
              "label": "Free Shipping"
            }
          ],
          "default": "cardpayment",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_2",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },

        {
          "type": "header",
          "content": "Third"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {
              "value": "likeauthentic",
              "label": "Authentic"
            },
            {
              "value": "giftcard",
              "label": "Gift card"
            },
            {
              "value": "cardpayment",
              "label": "Card Payment"
            },
            {
              "value": "cardloyalty",
              "label": "Card Loyalty"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "freeshipping",
              "label": "Free Shipping"
            }
          ],
          "default": "return",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_3",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },

        {
          "type": "header",
          "content": "Fourth"
        },
        {
          "type": "select",
          "id": "icon_4",
          "options": [
            {
              "value": "likeauthentic",
              "label": "Authentic"
            },
            {
              "value": "giftcard",
              "label": "Gift card"
            },
            {
              "value": "cardpayment",
              "label": "Card payment"
            },
            {
              "value": "cardloyalty",
              "label": "Card Loyalty"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "freeshipping",
              "label": "Free Shipping"
            }
          ],
          "default": "cardloyalty",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_4",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },

        {
          "type": "header",
          "content": "Fifth"
        },
        // {
        //   "type": "select",
        //   "id": "icon_5",
        //   "options": [
        //     {
        //       "value": "none",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
        //     },
        //     {
        //       "value": "box",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
        //     },
        //     {
        //       "value": "chat_bubble",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
        //     },
        //     {
        //       "value": "check_mark",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
        //     },
        //     {
        //       "value": "clipboard",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
        //     },
        //     {
        //       "value": "dairy",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
        //     },
        //     {
        //       "value": "dairy_free",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
        //     },
        //     {
        //       "value": "dryer",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
        //     },
        //     {
        //       "value": "eye",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
        //     },
        //     {
        //       "value": "fire",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
        //     },
        //     {
        //       "value": "gluten_free",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
        //     },
        //     {
        //       "value": "heart",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
        //     },
        //     {
        //       "value": "leather",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
        //     },
        //     {
        //       "value": "lightning_bolt",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
        //     },
        //     {
        //       "value": "lock",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
        //     },
        //     {
        //       "value": "map_pin",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
        //     },
        //     {
        //       "value": "nut_free",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
        //     },
        //     {
        //       "value": "price_tag",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
        //     },
        //     {
        //       "value": "question_mark",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
        //     },
        //     {
        //       "value": "recycle",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
        //     },
        //     {
        //       "value": "return",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
        //     },
        //     {
        //       "value": "ruler",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
        //     },
        //     {
        //       "value": "shirt",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
        //     },
        //     {
        //       "value": "shoe",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
        //     },
        //     {
        //       "value": "silhouette",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
        //     },
        //     {
        //       "value": "snowflake",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
        //     },
        //     {
        //       "value": "star",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
        //     },
        //     {
        //       "value": "stopwatch",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
        //     },
        //     {
        //       "value": "truck",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
        //     },
        //     {
        //       "value": "color_stretch",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__56.label"
        //     },
        //     {
        //       "value": "color_multiarrow",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__55.label"
        //     },
        //     {
        //       "value": "color_watch",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__54.label"
        //     },
        //     {
        //       "value": "color_recycle",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__53.label"
        //     },
        //     {
        //       "value": "color_flower",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__52.label"
        //     },
        //     {
        //       "value": "color_iron",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__51.label"
        //     }
        //   ],
        //   "default": "color_flower",
        //   "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        // },
        {
          "type": "image_picker",
          "id": "image_5",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_5",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },

        {
          "type": "header",
          "content": "Sixth"
        },
        // {
        //   "type": "select",
        //   "id": "icon_6",
        //   "options": [
        //     {
        //       "value": "none",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
        //     },
        //     {
        //       "value": "box",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
        //     },
        //     {
        //       "value": "chat_bubble",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
        //     },
        //     {
        //       "value": "check_mark",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
        //     },
        //     {
        //       "value": "clipboard",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
        //     },
        //     {
        //       "value": "dairy",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
        //     },
        //     {
        //       "value": "dairy_free",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
        //     },
        //     {
        //       "value": "dryer",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
        //     },
        //     {
        //       "value": "eye",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
        //     },
        //     {
        //       "value": "fire",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
        //     },
        //     {
        //       "value": "gluten_free",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
        //     },
        //     {
        //       "value": "heart",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
        //     },
        //     {
        //       "value": "leather",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
        //     },
        //     {
        //       "value": "lightning_bolt",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
        //     },
        //     {
        //       "value": "lock",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
        //     },
        //     {
        //       "value": "map_pin",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
        //     },
        //     {
        //       "value": "nut_free",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
        //     },
        //     {
        //       "value": "price_tag",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
        //     },
        //     {
        //       "value": "question_mark",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
        //     },
        //     {
        //       "value": "recycle",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
        //     },
        //     {
        //       "value": "return",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
        //     },
        //     {
        //       "value": "ruler",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
        //     },
        //     {
        //       "value": "shirt",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
        //     },
        //     {
        //       "value": "shoe",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
        //     },
        //     {
        //       "value": "silhouette",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
        //     },
        //     {
        //       "value": "snowflake",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
        //     },
        //     {
        //       "value": "star",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
        //     },
        //     {
        //       "value": "stopwatch",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
        //     },
        //     {
        //       "value": "truck",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
        //     },
        //     {
        //       "value": "color_stretch",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__56.label"
        //     },
        //     {
        //       "value": "color_multiarrow",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__55.label"
        //     },
        //     {
        //       "value": "color_watch",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__54.label"
        //     },
        //     {
        //       "value": "color_recycle",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__53.label"
        //     },
        //     {
        //       "value": "color_flower",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__52.label"
        //     },
        //     {
        //       "value": "color_iron",
        //       "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__51.label"
        //     }
        //   ],
        //   "default": "color_iron",
        //   "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        // },
        {
          "type": "image_picker",
          "id": "image_6",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_6",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "range",
      "id": "media_size",
      "min": 40,
      "max": 65,
      "step": 5,
      "unit": "%",
      "label": "t:sections.main-product.settings.media_size.label",
      "default": 50,
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "checkbox",
      "id": "constrain_to_viewport",
      "default": true,
      "label": "t:sections.main-product.settings.constrain_to_viewport.label"
    },
    {
      "type": "select",
      "id": "media_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.main-product.settings.media_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.main-product.settings.media_fit.options__2.label"
        }
      ],
      "default": "contain",
      "label": "t:sections.main-product.settings.media_fit.label"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-product.settings.media_position.label",
      "info": "t:sections.main-product.settings.media_position.info"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "columns",
          "label": "t:sections.main-product.settings.gallery_layout.options__2.label"
        },
        {
          "value": "left_slider",
          "label": "Thumbnail left carousel"
        },
        {
          "value": "right_slider",
          "label": "Thumbnail right carousel"
        },
        {
          "value": "thumbnail_slider",
          "label": "Thumbnail bottom carousel"
        }
      ],
      "default": "thumbnail_slider",
      "label": "t:sections.main-product.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "thumbimage_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "Thumbnail image ratio"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-product.settings.image_zoom.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.main-product.settings.image_zoom.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-product.settings.image_zoom.label"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "columns",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__1.label"
        },
        {
          "value": "show",
          "label": "Thumbnail carousel"
        },
        {
          "value": "hide",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__3.label"
        }
      ],
      "default": "hide",
      "label": "t:sections.main-product.settings.mobile_thumbnails.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
