{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}
{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}

{%- if settings.quick_view_button == true -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- unless settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- style -%}
  .section-{{ section.id }}-padding .section-head strong, .section-{{ section.id }}-padding .section-head b {
    color: {{ section.settings.headcolor }};
  }
  .section-{{ section.id }}-padding .card_number span {
    background: {{ section.settings.show_number_bg }};
    color: {{ section.settings.show_number_text }};
    border: 2px solid {{ section.settings.show_number_border }};
    border-radius: {{ section.settings.number_radius }}px;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <product-recommendations
    class="custom-width {% if settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      {%- if section.settings.heading != blank -%}
        <div class="section-head-top {{ section.settings.heading_position }}">
          <h2 class="section-head inline-richtext {{ section.settings.heading_size }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.heading }}
          </h2>
        </div>
      {%- endif %}
      {%- liquid
        assign columns_mobile_int = section.settings.columns_mobile | plus: 0
        assign show_mobile_carousel = false
        if section.settings.enable_mobile_carousel and recommendations.products_count > columns_mobile_int
          assign show_mobile_carousel = true
        endif
      -%}

      {% if show_mobile_carousel %}
        <slider-carousel
          data-breakpoints='{ "0": 2.1, "768": 2.5, "992": {{ section.settings.columns_desktop }} }'
          data-spacing-grid-horizontal='{{ settings.spacing_grid_horizontal | default: 30 }}'
          data-section-setting='{{ section.settings | json }}'
        >
          <div class="swiper related-products-swiper swiper-mobile-only">
            <ul
              class="swiper-wrapper grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
              role="list"
            >
              {% for recommendation in recommendations.products %}
                <li class="grid__item swiper-slide">
                  {% render 'card-product',
                    card_product: recommendation,
                    media_aspect_ratio: settings.image_ratio,
                    show_secondary_image: settings.show_secondary_image,
                    show_vendor: settings.show_cardvendor,
                    show_number: section.settings.show_number,
                    show_color_swatch: settings.show_color_swatch,
                    quick_view_button: settings.quick_view_button,
                    card_style: settings.card_style,
                    show_variants: settings.show_variants,
                    picker_type: settings.picker_type,
                    show_colorswatch: settings.show_colorswatch,
                    only_addcart: false,
                    disable_fquickview: false,
                    disable_faddcart: false,
                    disable_fvariant: false,
                    forloop_number: forloop.index,
                    show_quantity: settings.show_quantity,
                    quick_add: settings.quick_add,
                    section_id: section.id
                  %}
                </li>
              {% endfor %}
            </ul>
            {% if section.settings.pagination_style != 'none' %}
              <div class="swiper-pagination pagi_{{ section.settings.pagination_style }} mobile-only"></div>
            {% endif %}
          </div>
        </slider-carousel>
      {% else %}
        <ul
          class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
          role="list"
        >
          {% for recommendation in recommendations.products %}
            <li class="grid__item">
              {% render 'card-product',
                card_product: recommendation,
                media_aspect_ratio: settings.image_ratio,
                show_secondary_image: settings.show_secondary_image,
                show_vendor: settings.show_cardvendor,
                show_number: section.settings.show_number,
                show_color_swatch: settings.show_color_swatch,
                quick_view_button: settings.quick_view_button,
                card_style: settings.card_style,
                show_variants: settings.show_variants,
                picker_type: settings.picker_type,
                show_colorswatch: settings.show_colorswatch,
                only_addcart: false,
                disable_fquickview: false,
                disable_faddcart: false,
                disable_fvariant: false,
                forloop_number: forloop.index,
                show_quantity: settings.show_quantity,
                quick_add: settings.quick_add,
                section_id: section.id
              %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "header",
      "content": "t:settings_schema.heading.head"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "You may also like",
      "label": "t:settings_schema.heading.settings.head_text.label_1"
    },
    {
      "type": "color",
      "id": "headcolor",
      "label": "t:settings_schema.heading.settings.head_text.txt_color",
      "default": "#DF6334",
      "info": "t:settings_schema.heading.settings.head_text.txt_info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h0",
      "label": "t:settings_schema.heading.settings.head_text.label_2"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:settings_schema.heading.settings.head_text.label_3"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "Carousel Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_carousel",
      "label": "Enable Carousel on Mobile",
      "default": true
    },
    {
      "type": "select",
      "id": "pagination_style",
      "label": "Pagination Style",
      "default": "progressbar",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "progressbar",
          "label": "Progress Bar"
        }
      ]
    },

    {
      "type": "header",
      "content": "Product number"
    },
    {
      "type": "checkbox",
      "id": "show_number",
      "label": "Show number over the image",
      "default": true
    },
    {
      "type": "color",
      "id": "show_number_bg",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "show_number_text",
      "label": "Foreground color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "show_number_border",
      "label": "Border color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "number_radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "Corner radius",
      "default": 40
    },

    {
      "type": "header",
      "content": "t:sections.related-products.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.related-products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related-products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related-products.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
