{{ 'text-with-icons.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding .text_with_icon_inner {
    padding: {{ section.settings.content_space }}px;
  }
  .text-with-icon .section-{{ section.id }}-padding svg {
    width: {{ section.settings.icon_width }}px;
    height: {{ section.settings.icon_width }}px;
    fill: {{ section.settings.icon_color }};
  }
  .text-with-icon .section-{{ section.id }}-padding svg.stroke_color, .text-with-icon .section-{{ section.id }}-padding svg.colorsvg {
    fill: none;
  }
  .section-{{ section.id }}-padding .section-head strong, .section-{{ section.id }}-padding .section-head b {
    color: {{ section.settings.headcolor }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.45 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.45 | round: 0 }}px;
  }
  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="text-with-icon color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="section-{{ section.id }}-padding {% if section.settings.layout == 'full_width' %}section-full {% else %}page-width{% endif %}">
    {%- if section.settings.title != blank -%}
      <div class="section-head-top {{ section.settings.heading_position }}">
        <h2 class="section-head inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.title }}
        </h2>
      </div>
    {%- endif -%}
    <ul class="grid grid--{{ section.blocks.size }}-col-desktop {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      role="list" aria-label="{{ 'general.slider.name' | t }}">
      {%- for block in section.blocks -%}
        <li class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} center"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}>
          
          <div class="text_with_icon_inner {{ section.settings.content_align }}{% if section.settings.border_content == true %} texticon_border{% endif %} color-{{ section.settings.content_color_scheme }} isolate gradient">
            {% render 'icon-accordion', icon: block.settings.icon %}
            {% if block.settings.heading != blank %}
              <h3 class="inline-richtext {{ section.settings.text_size }}" {{ section.shopify_attributes }}>
                {{ block.settings.heading }}
              </h3>
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="rte" {{ section.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {% endif %}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.text_with_icons.name",
  "tag": "section",
  "class": "section",
  "max_blocks": 4,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_width",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "grid",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "header",
      "content": "t:settings_schema.heading.head"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:settings_schema.heading.settings.head_text.label_1"
    },
    {
      "type": "color",
      "id": "headcolor",
      "label": "t:settings_schema.heading.settings.head_text.txt_color",
      "default": "#DF6334",
      "info": "t:settings_schema.heading.settings.head_text.txt_info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:settings_schema.heading.settings.head_text.label_2"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:settings_schema.heading.settings.head_text.label_3"
    },
    {
      "type": "range",
      "id": "icon_width",
      "min": 20,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:sections.text_with_icons.settings.icon_width.label",
      "default": 32
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "t:sections.custom_text.settings.icon_color.label",
      "default": "#5A8C0F"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.custom_text.settings.text_size.label"
    },
    {
      "type": "select",
      "id": "content_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.custom_text.settings.content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "border_content",
      "label": "t:sections.text_with_icons.settings.enable_text_border.label",
      "default": true
    },
    {
      "type": "range",
      "id": "content_space",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Spacing around blocks",
      "default": 15
    },
    {
      "type": "color_scheme",
      "id": "content_color_scheme",
      "label": "Blocks color scheme",
      "default": "background-1"
    },

    
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.custom_text.settings.text.label",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "payment",
              "label": "Payment"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "quality",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__69.label"
            },
            {
              "value": "discount",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__68.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "user_icons",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__67.label"
            },
            {
              "value": "color_truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__57.label"
            },
            {
              "value": "color_payment",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__58.label"
            },
            {
              "value": "color_review",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__59.label"
            },
            {
              "value": "color_service",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__60.label"
            }
          ],
          "default": "truck",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Add subheading here</p>",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.text_with_icons.name",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "icon": "color_truck"
          }
        },
        {
          "type": "text",
          "settings": {
            "icon": "color_payment"
          }
        },
        {
          "type": "text",
          "settings": {
            "icon": "color_review"
          }
        },
        {
          "type": "text",
          "settings": {
            "icon": "color_service"
          }
        }
      ]
    }
  ]
}
{% endschema %}